h1 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Origin Tech Demo', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #EA448F;
}

@import url('http://fonts.cdnfonts.com/css/origin-tech-demo');